--
-- PostgreSQL database cluster dump
--

\restrict h3Mdb5OUCelNtOSFddOH3quaTW4nZkyAAMt0ndeaYL42T5WuijHGtOleF3SQdvI

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:zR/2QcgfkBr8WeybujSH1g==$6EsuAg+wWNS5AWTjHXOhSCYvBJ1/B3b5MWb6sMeiQu8=:VkgqAouSL6hfb1lWkUS3TNPgSH+jw+4cphSuzxibBxM=';

--
-- User Configurations
--








\unrestrict h3Mdb5OUCelNtOSFddOH3quaTW4nZkyAAMt0ndeaYL42T5WuijHGtOleF3SQdvI

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict 09At4xd9ZRNJuGXsdsjbISnam56Et5jYQO4VoB8MQgmwT0uhMlIhSQQex02yya0

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict 09At4xd9ZRNJuGXsdsjbISnam56Et5jYQO4VoB8MQgmwT0uhMlIhSQQex02yya0

--
-- Database "easyio_db" dump
--

--
-- PostgreSQL database dump
--

\restrict KlqLLwNjxASrxi2BQdKaF2vWbU23hR61oOy0xQ9vIA5mS6p8qiqnIODA7TG0KVc

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: easyio_db; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE easyio_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE easyio_db OWNER TO postgres;

\unrestrict KlqLLwNjxASrxi2BQdKaF2vWbU23hR61oOy0xQ9vIA5mS6p8qiqnIODA7TG0KVc
\connect easyio_db
\restrict KlqLLwNjxASrxi2BQdKaF2vWbU23hR61oOy0xQ9vIA5mS6p8qiqnIODA7TG0KVc

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict KlqLLwNjxASrxi2BQdKaF2vWbU23hR61oOy0xQ9vIA5mS6p8qiqnIODA7TG0KVc

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict D8kkU7l0QzpPgPgSFFEU8CU6f9J9InCI8Qh9TbR6DgEPIkiCWLVROqPbWpO4poj

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict D8kkU7l0QzpPgPgSFFEU8CU6f9J9InCI8Qh9TbR6DgEPIkiCWLVROqPbWpO4poj

--
-- PostgreSQL database cluster dump complete
--

